img {
    border: 20px solid black;
}

h1 {
    font: bold;
    font-size: 90px;
}

h2 {
    font: bold;
    font-size: 25px;
    color: black;
}

h3 {
    font: bold;
    font-size: 15px;
    color: red;
}